.conveyor {
  width: 100%;
  overflow: hidden;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  &-controls {
    position: relative;

    button {
      border: none;
      background-color: Transparent;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      overflow: hidden;
      text-indent: 150%;
      white-space: nowrap;
    }
  }

  &-prev {
    right: 30px;
    background-image: url("../img/symbol_backward.svg");
  }

  &-next {
    right: 0px;
    background-image: url("../img/symbol_forward.svg");
  }

  &-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -8px;
  }

  &-item {
    flex: 0 1 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0 8px;
    margin: 0;
    position: relative;
    @media(min-width:768px) {
      flex: 0 1 50%;
      min-width: 50%;
      max-width: 50%;
    }
    @media(min-width:992px) {
      flex: 0 1 25%;
      min-width: 25%;
      max-width: 25%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    figcaption {
      position: absolute;
      left: 8px;
      bottom: 0;
      right: 8px;
      padding: 0.5rem 1rem;
      background-color: rgba(0,0,0,0.7);
      color: #fff;
    }
  }
}
